.Intro {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 50px;
    margin-top: 80px;
}

body {
    font-family: 'Comfortaa', sans-serif;
    font-family: 'Dosis', sans-serif;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

.name {
    color: coral;
}

.header {
    display: flex;
    padding: 5%;
    margin-bottom: 100px;

}

.middlesec {
    display: flex;
    padding: 5%;
    margin-bottom: 100px;

}

.header {
    background-image: url(top-banner.png);
    background-repeat: no-repeat;

}

.middlesec {
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.half-width {
    width: 50%;

}

.half-width img {
    width: 95%;
}

.media {
    text-decoration: none;
    color: rgb(254, 254, 254);
    background-image: linear-gradient(orange, rgb(177, 44, 66));
    padding: 5px 20px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    font-weight: 800;

}

.hobysec {
    display: flex;
    margin: 20px;
    padding: 30px;
}

.hoby {
    width: 25%;
    padding: 20px;
    background-color: rgb(224, 218, 211);
    margin: 8px;
    border-radius: 25px 0;
    box-shadow: 5px 5px 8px rgb(149, 149, 149);
    border-left: 5px solid rgba(230, 82, 161, 0.831);

}

.lastpart {
    margin: 0px;
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
}

h2 {
    margin-left: 85px;
    margin-bottom: 30px;
    font-size: xx-large;
    color: darkgoldenrod;

}

.hoby h3 {
    color: rgb(231, 39, 179);
    font-weight: 800;
    font-size: 25px;
}

.hoby h5 {
    text-align: justify;
}

.hoby h4 {
    color: tomato;
}

.footer {
    text-align: center;
}